<div layout="column" layout-fill class="busca" role="busca" aria-label="Busca por farmácias, produtos ou benefícios">

  @@include('../includes/header-busca-beneficio.html')

  <div class="loaderView" ng-if="loaderData">
    @@include('../includes/loader.html')
  </div>

  <section class="sizeTopHeader sizeFooter listagemVirtual"
           ng-show="noResults && !loaderData"
  >
    <div class="table fullBack">
      <div class="tCell">
        <div class="dib txtCenter">
          <md-icon style="font-size: 100px; width: auto; height: auto; display: block;">search</md-icon>
          <h1 class="topWarning">Por favor,</h1>
          <p class="middleText">
            Sua pesquisa nao retornou em nenhum programa de benefício, <br>por favor, faça uma nova pesquise.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="sizeTopHeader sizeFooter listagemVirtual"
           ng-if="!loaderData && !noResults"
  >
    <md-virtual-repeat-container style="height: 100%">
      <article md-virtual-repeat="i in dataset" md-on-demand="{{ onDemand }}">
        <div class="outer" layout="row" layout-align="start center">
          <div class="img"
               ng-style="{'background-image': i.imgs}"
          ></div>
          <div class="promoTexto">
            <h3 md-truncate style="max-width: calc(100vw - 100px)" ng-bind="i.programaBeneficiosNome"></h3>
            <md-button class="normal beneficio md-raised md-primary" ng-click="procurarFarmacias(i)">
              <md-icon>search</md-icon>
              Farmácias
            </md-button>
            <md-button ng-if="usuarioLogado && i.permiteAdesaoApp == 1"
                       ui-sref="adesao({id: {{ i.idProgramaBeneficios }}})"
                       class="normal beneficio md-raised md-primary">
              <md-icon>card_membership</md-icon>
              Aderir
            </md-button>
            <md-button ng-if="usuarioLogado && i.permiteAdesaoApp == 0"
                       ng-href="{{ trustUrl(i.programaBeneficiosURL) }}"
                       class="normal beneficio md-raised md-primary">
              <md-icon>card_membership</md-icon>
              Aderir
            </md-button>
            <md-button ng-if="!usuarioLogado"
                       class="normal beneficio md-raised md-primary"
                       ng-href="{{ trustUrl(i.programaBeneficiosURL) }}">
              <md-icon>info_outline</md-icon>
              Conhecer
            </md-button>
          </div>
        </div>
      </article>
    </md-virtual-repeat-container>
  </section>

  @@include('../includes/filtro-busca.html')
</div>
