<div layout="column" layout-align="cente center" aria-label="Benefícios">
  @@include('../includes/header-interno.html', {
  "title": "Benefícios"
  })

  <section class="listagem sizeFooter sizeHeader">
    <article class="interna">
      <div class="outer" layout="row" layout-align="center center">
        <div class="img">
          <img src="assets/images/promocoes/sao-camilo.jpg" alt="Hospital São Camilo">
        </div>
        <div class="promoTexto">
          <h3>
            São Camilo
          </h3>
          <a href="http://www.hospitalcamilosp.org.br" class="link">
            http://www.hospitalcamiloshop.com.br
          </a>
        </div>
        <md-button class="normal">
          <md-icon>forward</md-icon>
        </md-button>
      </div>
    </article>

    <div class="img-responsive">
      <img src="assets/images/promocoes/promo_default.png" alt="São Camilo">
    </div>

  </section>
</div>