<div layout="column" layout-fill class="busca" role="busca" aria-label="Busca por farmácias, produtos ou benefícios">

  @@include('../includes/header-busca-produtos.html')

  <div class="loaderView" ng-show="loaderData">
    @@include('../includes/loader.html')
  </div>

  <section class="sizeTopHeader sizeFooter listagemVirtual"
           ng-show="!pesquisa && !noLocation"
  >

    <!--<md-virtual-repeat-container style="height: 100%">-->
    <!--<article md-virtual-repeat="i in infiniteItemsProdutos">-->
    <!--<div class="outer" layout="row" layout-align="start center" ng-if="!i.hasOwnProperty('promo')">-->
    <!--<md-button aria-label="{{ i.nome }}" ng-click="selFarmacia(i)"></md-button>-->
    <!--<div class="img" ng-style="{'background-image': {{ i.imgs }}"></div>-->
    <!--<div class="promoTexto">-->
    <!--<h3 md-truncate style="max-width: calc(100vw - 100px)" ng-bind="i.nome"></h3>-->
    <!--<p md-truncate style="max-width: calc(100vw - 100px)" ng-bind="i.address"></p>-->
    <!--<div class="infos">-->
    <!--<span class="distance">-->
    <!--<md-icon>place</md-icon>-->
    <!--{{ i.distance }}-->
    <!--</span>-->
    <!--<span class="stars">-->
    <!--<md-icon>star_border</md-icon>-->
    <!--{{ i.stars }}-->
    <!--</span>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="outer" layout="row" layout-align="start center" ng-if="i.hasOwnProperty('promo')">-->
    <!--<md-button aria-label="{{ i.nome }}" ui-sref="beneficio({id:{{i.id}}})"></md-button>-->
    <!--<div class="img" ng-style="{'background-image':'url(\'{{ i.img }}\')'}"></div>-->
    <!--<div class="promoTexto">-->
    <!--<h3 ng-bind="i.nome"></h3>-->
    <!--<p ng-bind-html="trustResource(i.address)"></p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</article>-->
    <!--</md-virtual-repeat-container>-->
    <md-virtual-repeat-container style="height: 100%">
      <article md-virtual-repeat="i in infiniteItemsProdutos" md-on-demand>
        <div class="outer" layout="row" layout-align="start center">
          <md-button aria-label="{{ i.nomeFantasia }}" ui-sref="farmacia" ng-click="selFarmacia(i)"></md-button>
          <div class="img" ng-style="{'background-image': i.imgs }"></div>
          <div class="promoTexto">
            <h3 md-truncate style="max-width: calc(100vw - 100px)" ng-bind="i.nomeFantasia"></h3>
            <p md-truncate style="max-width: calc(100vw - 100px)" ng-bind="i.logradouro"></p>
            <div class="infos">
              <span class="distance" ng-if="i.distancia">
              <md-icon>place</md-icon>
                {{ i.distancia }}km
              </span>
              <span class="stars" ng-if="i.avaliacaoMedia > 0">
                <md-icon>star_border</md-icon>
                {{ i.avaliacaoMedia }}
              </span>
            </div>
          </div>
        </div>
      </article>
    </md-virtual-repeat-container>
  </section>

  <section class="sizeTopHeader sizeFooter listagemVirtual"
           ng-if="pesquisa && !noLocation"
  >
    <div class="table fullBack">
      <div class="tCell">
        <div class="dib txtCenter" ng-if="!noResults">
          <md-icon style="font-size: 100px; width: auto; height: auto; display: block;">search</md-icon>
          <h1 class="topWarning">Por favor,</h1>
          <p class="middleText">
            pesquise por um produto.
          </p>
        </div>
        <div class="dib txtCenter" ng-if="noResults">
          <md-icon style="font-size: 100px; width: auto; height: auto; display: block;">search</md-icon>
          <h1 class="topWarning">Ops,</h1>
          <p class="middleText">
            Sua pesquisa nao retornou em nenhum produto, <br>por favor, faça uma nova pesquise.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="sizeTopHeader sizeFooter listagemVirtual" ng-if="noLocation">
    <div class="table fullBack">
      <div class="tCell">
        <div class="dib txtCenter">
          <md-icon style="font-size: 100px; width: auto; height: auto; display: block;">person_pin_circle</md-icon>
          <h1 class="topWarning">Ops!</h1>
          <p class="middleText">
            Por favor, ligue seu GPS ou selecione um endereço.
          </p>
        </div>
      </div>
    </div>
  </section>

  @@include('../includes/filtro-busca.html')
</div>
