<!DOCTYPE html>
<html lang="pt-BR" ng-app="appToten">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no" />
  <title>Toten Lucy</title>
  <meta name="theme-color" content="#FF9800">
  <meta name="msapplication-navbutton-color" content="#FF9800">
  <meta name="apple-mobile-web-app-status-bar-style" content="#FF9800">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <!--<script type="text/javascript">-->
    <!--if (document.location.protocol != "https:") {-->
      <!--document.location = document.URL.replace(/^http:/i, "https:");-->
    <!--}-->
  <!--</script>-->

  <link rel="stylesheet" type="text/css" href="assets/css/style.min.css" />

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">

  <style ng-bind="tema"></style>

</head>
<body ng-class="{'inicio': inicio}">
  <ui-view class="ng-cloak"></ui-view>

  <div ng-controller="fotoController" ng-cloak>
    <div class="tableModal full fixed black animate-if" ng-if="foto">
      <div class="tCell">
        <div class="dib foto">
          <div class="closeModal" ng-click="closeModal()"></div>
          <div class="grid">
            <div class="column">
              <div class="img">
                @@include('assets/imgs/fotos/webcam.svg')
              </div>
              <div class="right">
                <h3>ANEXAR<br>COMPROVANTE</h3>
                <p>POSICIONE O COMPROVANTE DO PAGEMENTO EM FRENTE A CÂMERA</p>
              </div>
            </div>
            <div class="column" ng-if="!confirmFoto">
              <div class="imgExample">
                <webcam channel="channel"
                        on-streaming="onSuccess()"
                        on-error="onError(err)"
                        on-stream="onStream(stream)"
                        ng-if="!picture"
                ></webcam>
                <button type="button" class="btn" ng-click="makeSnapshot()">
                  <div class="img">
                    @@include('assets/imgs/fotos/camera.svg')
                  </div>
                  fotografar
                </button>
              </div>
            </div>
            <div class="column" ng-if="confirmFoto">
              <div class="imgExample OkFoto">
                <img ng-src="@{{ imgResponse }}" alt="Foto">
                <button type="button" class="btn tp" ng-click="notOkFoto()">
                  <div class="img">
                    @@include('assets/imgs/fotos/camera.svg')
                  </div>
                  fotografar
                </button>
                <button type="button" class="btn" ng-click="closeModal()">
                  <i class="fa fa-check" aria-hidden="true"></i>
                  confirmar
                </button>
              </div>
            </div>
            <canvas id="snapshot" width="300" height="240"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="assets/js/scripts.min.js"></script>
  <script src="assets/angular/app.min.js"></script>
  <script src="assets/angular/config/configModule.min.js"></script>
  <script src="assets/angular/views/viewsModule.min.js"></script>
  <script src="assets/angular/service/serviceModule.min.js"></script>
  <script src="assets/angular/directive/directiveModule.min.js"></script>
  <script src="assets/angular/factory/factoryModule.min.js"></script>

</body>
</html>
