<div layout="column" layout-align="cente center" aria-label="Eu">
  @@include('../includes/header-interno.html', {
  "title": "Eu"
  })

  <div class="endreco barFarmacia sizeHeader sizeFooter" layout="column" layout-align="cente center" layout-fill>
    <md-tabs md-selected="selectedIndex" md-no-pagination md-stretch-tabs="always">
      <md-tab md-on-select="onTabSelected(tab)" md-on-deselect="announceDeselected(tab)">
        <md-tab-label>
          <div md-truncate style="max-width: calc(100vw / 2)">Dados pessoais</div>
        </md-tab-label>
        <md-tab-body>
          <section class="farmacias">
            <form name="cadastroForm">
              <md-input-container>
                <input type="text"
                       md-no-asterisk
                       ng-model="dados.Username"
                       placeholder="Nome completo"
                       aria-label="Nome completo"
                       name="Username"
                       required>
                <div ng-messages="cadastroForm.Username.$error"
                     multiple
                     ng-if="cadastroForm.Username.$invalid && cadastroForm.Username.$touched">
                  <div ng-message="required">
                    Campo Nome completo é obrigatório.
                  </div>
                </div>
              </md-input-container>

              <md-input-container>
                <input type="email"
                       md-no-asterisk
                       ng-model="dados.Email"
                       placeholder="E-mail"
                       aria-label="E-mail"
                       name="Email"
                       required>
                <div ng-messages="cadastroForm.Email.$error"
                     multiple
                     ng-if="cadastroForm.Email.$invalid && cadastroForm.Email.$touched">
                  <div ng-message="required">
                    Campo de E-mail é obrigatório.
                  </div>
                </div>
              </md-input-container>

              <md-input-container>
                <input type="text"
                       md-no-asterisk
                       ng-model="dados.CPF"
                       cpf
                       placeholder="CPF"
                       aria-label="CPF"
                       name="CPF"
                       required>
                <div ng-messages="cadastroForm.CPF.$error"
                     multiple
                     ng-if="cadastroForm.CPF.$invalid && cadastroForm.CPF.$touched">
                  <div ng-message="required">
                    Campo de CPF é obrigatório.
                  </div>
                </div>
              </md-input-container>

              <md-input-container>
                <input type="tel"
                       md-no-asterisk
                       ng-model="dados.Telefone"
                       placeholder="DDD + Telefone"
                       aria-label="Telefone"
                       name="Telefone"
                       telefone
                       required>
                <div ng-messages="cadastroForm.Telefone.$error"
                     multiple
                     ng-if="cadastroForm.Telefone.$invalid && cadastroForm.Telefone.$touched">
                  <div ng-message="required">
                    Campo de Telefone é obrigatório.
                  </div>
                </div>
              </md-input-container>

              <md-input-container>
                <input type="password"
                       md-no-asterisk
                       ng-model="dados.Senha"
                       placeholder="Senha"
                       aria-label="Senha"
                       name="password"
                       ng-minlength="8"
                       required>
                <div ng-messages="cadastroForm.password.$error"
                     multiple
                     ng-if="cadastroForm.password.$invalid && cadastroForm.password.$touched">
                  <div ng-message="required">
                    Campo de Senha é obrigatório.
                  </div>
                  <div ng-message="minlength">
                    Campo de Senha deve conter, no mínimo, 8 caracteres.
                  </div>
                </div>
              </md-input-container>

              <md-checkbox ng-model="dados.ReceberEmail" aria-label="Receber Email">
                Gostaria de receber e-mail comunicando novidades e promoções.
              </md-checkbox>

              <md-button class="alterarSenha" ui-sref="alterarsenha">
                Alterar Senha
                <md-icon>arrow_forward</md-icon>
              </md-button>
            </form>
          </section>
        </md-tab-body>
      </md-tab>
      <md-tab md-on-select="onTabSelected(tab)" md-on-deselect="announceDeselected(tab)">
        <md-tab-label>
          <div md-truncate style="max-width: calc(100vw / 2)">Endereço</div>
        </md-tab-label>
        <md-tab-body>
          <section class="farmacias">
            <form name="preencheEnderecoForm">
              <md-input-container>
                <input type="text"
                       md-no-asterisk
                       ng-model="endereco.CEP"
                       placeholder="CEP"
                       name="CEP"
                       required>
              </md-input-container>

              <md-input-container>
                <md-select ng-model="endereco.estado" name="estado" placeholder="Estado" ng-change="procuraCidades()">
                  <md-option ng-value="opt" ng-repeat="opt in estados">{{ opt.nome }}</md-option>
                </md-select>
              </md-input-container>

              <md-input-container>
                <md-select ng-model="endereco.cidade"
                           name="cidades"
                           placeholder="Cidade"
                           ng-disabled="preencheEnderecoForm.estado.$invalid">
                  <md-option ng-value="opt" ng-repeat="opt in cidades">{{ opt.nome }}</md-option>
                </md-select>
              </md-input-container>

              <md-input-container>
                <input type="text"
                       md-no-asterisk
                       ng-model="endereco.endereco"
                       placeholder="Endereço"
                       name="endereco"
                       required>
              </md-input-container>

              <md-button class="blockButton md-raised md-primary white"
                         type="submit"
                         ng-disabled="preencheEnderecoForm.$invalid"

              >
                Confirmar endereço
              </md-button>
            </form>
          </section>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </div>

</div>
