<section class="splash" role="loading" aria-label="Carregando dados">
  <div class="table" style="padding: 40px">
    <div class="tCell">
      <div class="dib txtCenter">
        <md-icon style="font-size: 100px; width: auto; height: auto; display: block;">mood_bad</md-icon>
        <h1 class="topWarning">Ops!</h1>
        <p class="middleText">
          Parece que você ficou sem conexão.
        </p>
      </div>
    </div>
  </div>
  <div class="backConnectiion" ng-if="online" style="position: relative">
    <md-button class="md-primary" ng-click="cancelAndReload()">Ficar online</md-button>
  </div>
</section>
