<div layout="column" layout-fill layout-align="cente center" aria-label="Troca de endereço">

  @@include('../includes/header-interno.html', {
  "title": "Inserir endereço"
  })

  <section class="sizeFooter sizeHeader endereco">
    <form name="enderecoForm" ng-submit="checkCep()">
      <md-input-container>
        <input type="text" md-no-asterisk cep ng-model="endereco.cep" placeholder="CEP" name="cep" required>
      </md-input-container>

      <md-button class="blockButton md-raised md-primary white"
                 ng-disabled="enderecoForm.cep.$invalid"
                 ng-click="showAdvanced($event)">Confirmar
      </md-button>
      <md-button class="blockButton" ui-sref="enderecoCep">Não sei meu CEP</md-button>
    </form>
  </section>
</div>