<div layout="column" layout-fill layout-align="cente center" aria-label="Troca de endereço">

  @@include('../includes/header-interno.html', {
  "title": "Inserir endereço"
  })

  <section class="sizeFooter sizeHeader endereco">
    <md-button class="locationButton" ng-click="getMyLocation()">
      <md-icon>gps_fixed</md-icon>
      usar minha localização
    </md-button>

    <div class="hr">
      <span>Ou</span>
      <i></i>
    </div>

    <form name="preencheEnderecoForm" ng-submit="checkCep(endereco)">
      <md-input-container>
        <md-select ng-model="endereco.estado" name="estado" placeholder="Estado" ng-change="procuraCidades()">
          <md-option ng-value="opt" ng-repeat="opt in estados">{{ opt.nome }}</md-option>
        </md-select>
      </md-input-container>

      <md-input-container>
        <md-select ng-model="endereco.cidade"
                   name="cidades"
                   placeholder="Cidade"
                   ng-disabled="preencheEnderecoForm.estado.$invalid">
          <md-option ng-value="opt" ng-repeat="opt in cidades">{{ opt.nome }}</md-option>
        </md-select>
      </md-input-container>

      <md-input-container>
        <input type="text" md-no-asterisk ng-model="endereco.endereco" placeholder="Endereço" name="endereco" required>
      </md-input-container>

      <md-button class="blockButton md-raised md-primary white"
                 type="submit"
                 ng-disabled="preencheEnderecoForm.$invalid"

      >
        Confirmar endereço
      </md-button>
      <md-button class="blockButton md-primary" ui-sref="endereco">
        preencher endereço pelo cep
      </md-button>
    </form>
  </section>
</div>