@import "variables";

.menuPerfil {
  height : 100vh;

  &.logado {
    background : $white;

    md-content {
      padding-top : 25px;
    }
  }

  md-card {
    padding       : 5px 10px 10px 10px;
    margin-bottom : 10px;

    md-card-title {
      padding     : 10px 5px 15px 5px;
      font-weight : 600;
    }

    .md-button {
      text-align            : left;
      width                 : 100%;
      display               : block;
      color                 : $white;
      margin                : 10px 0;
      padding               : 10px 20px;
      box-shadow            : none !important;
      -webkit-border-radius : 0 !important;
      -moz-border-radius    : 0 !important;
      border-radius         : 0 !important;
      font-size             : 13px;
      color                 : #666666 !important;

      &.cadastro {
        color : rgb(255, 152, 0) !important;
      }

      &:hover {
        color : #000000 !important;
        md-icon {
          color : #444444;
        }
      }

      md-icon {
        color        : #444444;
        min-width    : 0;
        min-height   : 0;
        width        : auto;
        height       : auto;
        line-height  : 90%;
        margin-right : 5px;
      }

      &.facebook {
        background : #415EAE;
        color      : $white !important;

        &:hover {
          color : #000000 !important;
          svg {
            * {
              fill : #000000;
            }
          }
        }

        md-icon {
          svg {
            width : 24px;

            * {
              fill : $white;
            }
          }
        }

      }
    }
  }

  &.formLogin {
    .md-button {
      display : inline-block !important;
      width   : auto !important;
      color   : rgba(255, 255, 255, 0.87) !important;

      &.gray {
        color : #666666 !important;
      }
    }

    .center {
      text-align : center;
    }

    md-input-container {
      width : 100%;
    }
  }

  h4 {
    font-weight : 500;
    color       : #757575;
  }
}