.splash {
  position : relative;
  z-index  : 99999999999;
  .table {
    background : #FFFFFF;
  }

  svg {
    display : block;
    width   : 50vw;
    height  : auto;
  }
  .loading {
    position : absolute;
    bottom   : 0;
    left     : 0;
    width    : 100%;

    .whatHappens {
      position  : absolute;
      top       : -25px;
      font-size : 14px;
      width     : 100%;
    }
  }
  .backConnectiion {
    position   : fixed;
    z-index    : 9999999;
    bottom     : 0;
    left       : 0;
    width      : 100%;
    text-align : center;
    background : #F1F1F1;
    border-top : 1px solid #BDBDBD;
  }
}