/*
  SASS Variables for project
 */

// COLORS DEFAULT
$valid : #2ECC71;
$error : #E74C3C;

$default : #FF5B10;
$white : #FFFFFF;
$background : #F3F4F6;
$txt : #212121;

// PATHS
$fonts : "./fonts/";
$img : "../imgs/";

// Fonts
$lm : "LaserMetal";
$nw : "Novecentowide";
$fw : "FontAwesome";
$op : "Open Sans";

// BREAKPOINTS
$breakpoints : (max: (xs: 767px), min: (sm: 768px, md: 992px, lg: 1200px));