/*
  SASS Variables for project
 */

// COLORS DEFAULT
$valid : #2ECC71;
$error : #E74C3C;
$orange : #FFCC80;
$deepOrange : #FFCC80;
$default : #FF9800;
$defEscuro : #ff6e40;
$gray : #808080;
$white : #FFFFFF;

// PATHS
$fonts : "fonts/";
$img : "../imgs/";

// BREAKPOINTS
$breakpoints : (max: (xs: 767px), min: (sm: 768px, md: 992px, lg: 1200px));