// Imports
// Reset
@import "import";
@import "loader";
@import "animation";
@import "variables";
@import "fonts";
@import "mixins/mixins";
@import "keyFrames";

* {
  box-sizing : border-box;
  padding    : 0;
  margin     : 0;
}

body {
  background : $background;
  font       : lh(16px, 150%) $op;
}

#loading-bar .bar {
  background : $default;
  height     : 5px;
}

.noPad {
  padding : 0 !important;
}

.tableModal {
  display : table;

  &.black {
    background : rgba(0, 0, 0, .9);
  }

  &.full {
    width  : 100%;
    height : 100%;
    top    : 0;
    left   : 0;
  }

  &.fixed {
    position : fixed;
  }

  .tCell {
    display        : table-cell;
    width          : 100%;
    vertical-align : middle;
    text-align     : center;

    &.top {
      vertical-align : top;
    }

    &.bottom {
      vertical-align : bottom;
    }

    .dib {
      display : inline-block;

      &.full {
        width : 100%;
      }

      &.txtCenter {
        text-align : center;
      }
    }
  }
}

.btn {
  padding            : 12px 50px;
  background         : $default;
  color              : #FFFFFF;
  text-transform     : uppercase;
  border-radius      : 0;
  font-weight        : 600;
  font-family        : $nw;
  letter-spacing     : 1px;
  -webkit-transition : all .4s ease;
  -moz-transition    : all .4s ease;
  -o-transition      : all .4s ease;
  transition         : all .4s ease;
  outline            : none !important;

  &.tp {
    background : none;
  }

  &.white {
    background : #FFFFFF;
    color      : #333333;

    &:hover, &active {
      background : none;
    }
  }

  i {
    color              : #FFFFFF;
    -webkit-transition : color .4s ease;
    -moz-transition    : color .4s ease;
    -o-transition      : color .4s ease;
    transition         : color .4s ease;
  }

  svg {
    * {
      fill               : #FFFFFF;
      -webkit-transition : fill .4s ease;
      -moz-transition    : fill .4s ease;
      -o-transition      : fill .4s ease;
      transition         : fill .4s ease;
    }
  }

  &:hover, &active {
    svg {
      * {
        fill : #333333;
      }
    }
    i {
      color : #333333;
    }
  }

  &.go {
    &:after {
      content : '';
      font    : 16px $fw;
    }
  }
}

.mt30 {
  margin-top : 30px;
}

section {
  padding : 70px;
}

.noBtn {
  outline    : none;
  border     : none;
  background : none;
  height     : 40px;
  width      : 40px;
}

.grid {
  display         : flex;
  align-items     : flex-start;
  justify-content : center;
  width           : 100%;
  flex-flow       : row;

  &.middle {
    align-items : center;
  }

  @include grid(12);

  .align-left {
    justify-content : flex-start;
  }

  .align-right {
    justify-content : flex-end;
  }

  .align-top {
    align-self : flex-start;
  }

  .align-bottom {
    align-self : flex-end;
  }

}

@import "footer";
@import "login";
@import "home";
@import "categorias";
@import "foto";
@import "carrinho";
@import "header";