// Imports
// Reset
@import "../lib/angular-material/angular-material.min";
@import "loader";
@import "variables";
@import "mixins/mixins";
@import "keyFrames";

* {
  box-sizing : border-box;
  padding    : 0;
  margin     : 0;
}

.noPad {
  padding : 0 !important;
}

#loader {
  width  : 100%;
  height : 100%;
}

.sizeFooter {
  padding-bottom : 65px;
}

.sizeHeader {
  padding-top : 56px;

  @include breakpoint('640', 'min') {
    padding-top : 64px;
  }
}

.table {
  display : table;

  &.full {
    position : fixed;
    z-index  : 9999;
    width    : 100%;
    height   : 100%;
    top      : 0;
    left     : 0;
  }

  &.fullBack {
    position : fixed;
    width    : 100%;
    height   : 100%;
    top      : 0;
    left     : 0;
  }

  .tCell {
    display        : table-cell;
    width          : 100%;
    vertical-align : middle;
    text-align     : center;

    &.top {
      vertical-align : top;
    }

    &.bottom {
      vertical-align : bottom;
    }

    .dib {
      display : inline-block;

      &.full {
        width : 100%;
      }

      &.txtCenter {
        text-align : center;
      }
    }
  }
}

.voltar {
  min-width  : 40px;
  background : transparent;

  md-icon {
    color : $white !important;
  }
}

.img-responsive {
  width   : 100%;
  padding : 10px;

  img {
    display : block;
    width   : 100%;
  }
}

@import "footer";
@import "perfil";
@import "header";
@import "splash";
@import "promocoes";
@import "busca";
@import "endereco";
@import "pesquisa";
@import "farmacias";

.dropDownBuscaProdutos {
  z-index : 999999999999999999;
}

.rating {
  &.disabled {
    .star {
      opacity : 1 !important;
    }

  }
  .star {
    opacity : 1;
    i {
      outline : none;
      color   : $default !important;
    }
  }
}

md-checkbox {
  &.md-checked {
    .md-icon {
      &:after {
        border-color : rgba(255, 255, 255, 0.87) !important;
      }
    }
  }
}

.white {
  color : rgba(255, 255, 255, 0.87) !important;
}

.topWarning {
  color      : rgba(0, 0, 0, 0.54);
  text-align : center;
  font-size  : 30px;
  margin     : 20px 0 10px 0;
}

.middleText {
  padding     : 0;
  max-width   : 80%;
  font-size   : 1.1rem;
  color       : $gray;
  text-align  : center;
  font-weight : 300;
  display     : inline-block;
}

.md-dialog-container {
  z-index : 9999999999999999;

  .md-dialog-content-body {
    p {
      font-size   : 14px;
      font-weight : 300;
      margin-top  : 15px;
    }
  }
}

.inlineButton {
  display : inline-block !important;
  width   : auto;
}

.gray {
  color : #666666 !important;
}

.materialLabel {
  display   : block;
  margin    : 0 0 10px 5px;
  font-size : 12px;
  color     : rgba(0, 0, 0, 0.54);
}

.centerBlock {
  text-align : center;

  .md-button {
    width  : 100%;
    margin : 0 0 20px 0;
  }
}