<header>
  <a ui-sref="categorias" class="logo">
    <h1 ng-bind="temaStorage.empresa"></h1>
  </a>

  <h2>
    meu carrinho
  </h2>

  <ul>
    <li class="active">
      <button disabled>
        1
        <p>carrinho</p>
      </button>
    </li>
    <li>
      <button disabled>
        2
        <p>identificação</p>
      </button>
    </li>
    <li>
      <button disabled>
        3
        <p>pagamento</p>
      </button>
    </li>
  </ul>
</header>
<section class="carrinho">
  <div class="grid">
    <article class="tableHolder">
      <table class="table table-responsive">
        <thead>
          <tr>
            <th>foto</th>
            <th>desc.</th>
            <th>preço</th>
            <th>total</th>
            <th>qtd.</th>
          </tr>
        </thead>
        <tbody ng-if="listaCompras.length > 0">
          <tr ng-repeat="item in listaCompras">
            <td>
              <div class="img">
                <img ng-src="{{ item.imagens[0].url }}" alt="{{ item.nomeproduto }}">
              </div>
            </td>
            <td>
              <h4 ng-bind="item.nomeproduto"></h4>
              <p ng-bind="item.cor" ng-if="item.cor.length > 0"></p>
            </td>
            <td>
              <div class="preco" ng-bind="item.preco | currency:'R$'"></div>
            </td>
            <td>
              <div class="preco" ng-bind="(item.preco * item.qnt) | currency:'R$'"></div>
            </td>
            <td>
              <div class="input-group">
                <button type="button" class="input-group-addon pointer" ng-click="minus(item)">
                  <i class="fa fa-minus"></i>
                </button>
                <input type="text" class="form-control" ng-change="calcTotalItem(item)" ng-model="item.qnt">
                <button type="button" class="input-group-addon pointer" ng-click="more(item)">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </td>
            <td>
              <button class="noBtn" ng-click="removerItem(item)">
                <i class="fa fa-times"></i>
              </button>
            </td>
          </tr>
        </tbody>
        <tbody ng-if="listaCompras.length == 0">
          <tr>
            <td colspan="5">
              <p class="noResult">
                Nenhum produto adicionado ao carrinho!
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </article>
    <article class="total">
      <div class="field">
        <h3>SUB TOTAL: </h3>
        <span class="number" ng-bind="totalProdutos | currency: ''"></span>
      </div>

      <div class="field">
        <h3 class="block">Digite seu CEP: </h3>
        <input type="text" class="input-control" cep ng-model="cep">
        <button class="btn" ng-click="calcularFrete()">CALCULAR FRETE</button>
        <button class="btn white">CONSULTAR CEP</button>

        <ul ng-if="result.show">
          <li>
            Frete para: <b ng-bind="result.local">RS - Capital</b>
          </li>
          <li>
            Transportadora - <b ng-bind="result.valor | currency">R$ 77,90</b>
          </li>
          <li>
            Prazo de entrega: <b ng-bind="result.prazo"></b>
          </li>
        </ul>
      </div>

      <div class="field noBorder">
        <h3>SUB TOTAL: </h3>
        <span class="number bigger" ng-bind="totalProdutosFrete | currency: ''"></span>
      </div>
    </article>
  </div>
</section>

<footer class="grid middle">
  <div class="collum align-left grid-6" ui-sref="categorias">
    <button class="btn white">
      continuar comprando
    </button>
    <button class="btn ml5" ng-click="limparCarrinho()">
      limpar carrinho
    </button>
  </div>
  <div class="collum align-right grid-6">
    <button class="btn" ng-disabled="listaCompras.length == 0" ui-sref="cadastro">
      prosseguir
    </button>
  </div>
</footer>