<section class="home">
  <a ui-sref="home" class="logo">
    <h1>
      lucy home
    </h1>
  </a>

  <div class="table full">
    <div class="tCell">
      <article class="dib">
        <h2>olá</h2>
        <h3>seja bem vindo(a)!</h3>
        <p>
          Lorem Ipsum Dolor Sit Amet, Consectetuer Adipiscing Elit, Sed Diam Nonummy Nibh Euismod Tincidunt Ut Laoreet
          Dolore Magna Aliquam Erat Volutpat.
        </p>

        <button class="btn mt30" ui-sref="login">
          vamos começar
        </button>
      </article>
    </div>
  </div>

</section>