<header>
  <a ui-sref="home" class="logo">
    <h1 ng-bind="temaStorage.empresa"></h1>
  </a>

  <h2>
    pagamento
  </h2>

  <ul>
    <li class="jaPassou">
      <button disabled>
        1
        <p>carrinho</p>
      </button>
    </li>
    <li class="jaPassou">
      <button disabled>
        2
        <p>identificação</p>
      </button>
    </li>
    <li class="active">
      <button disabled>
        3
        <p>pagamento</p>
      </button>
    </li>
  </ul>
</header>
<section class="pagamento">
  <div class="grid">
    <article class="grid-7 resumoCompra">
      <div class="tableHolder">
        <h2>
          Resumo do pedido <b ng-bind="idPedido"></b>
        </h2>
        <table class="table table-responsive">
          <tbody ng-if="listaCompras.length > 0">
            <tr ng-repeat="item in listaCompras">
              <td ng-bind="item.qnt"></td>
              <td>
                <span>
                  {{ item.nomeproduto }} <strong ng-bind="' - ' + item.cor" ng-if="item.cor.length > 0"></strong>
                </span>

              </td>
              <td>
                <div class="preco" ng-bind="(item.preco * item.qnt) | currency:'R$'"></div>
              </td>
            </tr>
          </tbody>
          <tbody ng-if="listaCompras.length == 0">
            <tr>
              <td colspan="5">
                <p class="noResult">
                  Nenhum produto adicionado ao carrinho!
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="total">
        <div class="field">
          <div class="cifra">
            valor total do pedido
          </div>
          <div class="number" ng-bind="totalCarrinho | currency"></div>
        </div>
        <div class="field">
          <div class="cifra">
            valor total com frete
          </div>
          <div class="number" ng-bind="totalCarrinhoFrete | currency"></div>
        </div>
      </div>
    </article>
    <div class="grid-5 loginVendedor">
      <h3>Pagamento</h3>
      <p>Selecione a forma de pagamento.</p>
      <div class="formField" style="padding: 0 0 20px 0;">
        <form name="pagamentoForm" autocomplete="off">
          <div class="input-group" style="width: 100%;">
            <select class="formapagamento form-control"
                    ng-disabled="editarPagamentoFlag"
                    ng-class="{'noBg': editarPagamentoFlag}"
                    ng-model="formaPagamento"
                    required
                    name="formaPagamento"
                    ng-options="item as item.descricao for item in listaPagamentos track by item.index">
              <option value selected>Selecione uma forma de pagamento</option>
            </select>
            <span class="input-group-addon" ng-if="editarPagamentoFlag" ng-click="editarPagamento()">editar</span>
          </div>
          <button class="btn blockButton"
                  style="margin-top: 20px; width: 100%;"
                  ng-disabled="pagamentoForm.$invalid"
                  ng-if="!editarPagamentoFlag"
                  ng-click="editarPagamento()">
            confirmar pagamento
          </button>
        </form>
      </div>

      <div ng-if="formaPagamento && editarPagamentoFlag">
        <h3>CHAME O VENDEDOR</h3>
        <p>Quase tudo pronto, chame um de nossos vendedores para que possamos registrar seu pagamento.</p>

        <div class="formField loginForm">
          <form name="loginVendedorForm" ng-submit="validarVendedor()">
            <div class="form-group">
              <input type="text"
                     name="login"
                     required
                     ng-model="dadosVendedor.identificacao"
                     class="form-control"
                     placeholder="VENDEDOR:"
              >
            </div>
            <div class="form-group">
              <input type="password"
                     name="senha"
                     required
                     ng-model="dadosVendedor.senha"
                     class="form-control"
                     placeholder="SENHA:"
              >
            </div>
            <div class="img">
              <button type="submit" class="noBtn full">
                <img src="assets/imgs/carrinho/card.png" alt="Pagamento">
              </button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</section>