<header>
  <a ui-sref="home" class="logo">
    <h1>
      lucy home
    </h1>
  </a>

  <h2>
    banquetas
  </h2>

  <a ui-sref="carrinho" class="meuCarrinho">
    <span>
      meu<br>carrinho
    </span>

    <div class="img">
      <img src="assets/imgs/header/carrinho.png" alt="Carrinho">
      <div class="notification">12</div>
    </div>
  </a>

</header>
<section class="produtos grid">
  <div class="grid-3">
    <ul class="grid filterRight">
      <li>
        <a ui-sref="produtos">
          <img src="assets/imgs/categoria/cadeiras.png" alt="Banquetas">
          <span>banquetas</span>
        </a>
      </li>
      <li>
        <a ui-sref="produtos">
          <img src="assets/imgs/categoria/poltronas.png" alt="Poltronas">
          <span>poltronas</span>
        </a>
      </li>
      <li>
        <a ui-sref="produtos">
          <img src="assets/imgs/categoria/sala.png" alt="Luminárias">
          <span>Luminárias</span>
        </a>
      </li>
      <li>
        <a ui-sref="produtos">
          <img src="assets/imgs/categoria/cadeiras.png" alt="Banquetas">
          <span>banquetas</span>
        </a>
      </li>
      <li>
        <a ui-sref="produtos">
          <img src="assets/imgs/categoria/cadeiras.png" alt="Cadeiras">
          <span>cadeiras</span>
        </a>
      </li>
      <li>
        <a ui-sref="produtos">
          <img src="assets/imgs/categoria/cadeiras.png" alt="Banquetas">
          <span>banquetas</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="grid-9">
    <ul class="grid listagem">
      <li class="grid-3" ng-repeat="item in produtos" ui-sref="produto">
        <a ui-sref="produtos">
          <button class="btn lupa">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
          <img src="assets/imgs/produtos/exemplo.png" alt="Banquetas">
          <div class="title">BANQUETA EM ABS PARIS</div>

          <div class="outer grid middle">
            <div class="grid-7 total">
              <span class="anterior">R$ 300,00</span>
              <span class="valorTotal">R$ 6.240,90</span>
            </div>
            <div class="grid-5 parcelas">
              <span class="parcelamento">12x</span>
              <span class="totalParcela">R$ 528,26</span>
            </div>
          </div>

        </a>
      </li>
    </ul>
  </div>
</section>