<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="filter">
  <md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools">
      <md-button ng-click="close()">
        <md-icon class="normal">close</md-icon>
      </md-button>
      Filtro
    </h1>
  </md-toolbar>
  <md-content layout-padding>
    <!--md-checkbox[ng-model="isChecked" aria-label="Filtro $"]{Filtro $}*8-->
    <md-checkbox ng-repeat="item in filtros"
                 ng-model="item.selected"
                 aria-label="{{ item.label }}">{{ item.label }}
    </md-checkbox>
  </md-content>
</md-sidenav>