<footer ng-controller="footerController" ng-cloak>
  <md-nav-bar class="auto" md-selected-nav-item="navItemFooter" navBarAriaLabel="Navegação" aria-label="Navegação">
    <md-nav-item md-nav-sref="farmacias" name="busca" aria-label="Busca">
      <i class="material-icons">search</i>
      <span class="textoNav">Busca</span>
    </md-nav-item>
    <md-nav-item md-nav-sref="promo" name="promo" aria-label="Promoções">
      <i class="material-icons">card_giftcard</i>
      <span class="textoNav">Promoções</span>
    </md-nav-item>
    <md-nav-item md-nav-sref="me" name="me" aria-label="Eu">
      <i class="material-icons">person</i>
      <span class="textoNav">Eu</span>
    </md-nav-item>
  </md-nav-bar>
</footer>
