<div class="wrapperHeadBusca">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <form name="buscarGeralForm" class="buscaForm" ng-submit="procurarProgramas(busca)">
        <md-input-container class="inputBusca" md-no-float>
          <input name="busca" ng-model="busca" placeholder="Buscar por Programas de benefício">
        </md-input-container>
        <md-button class="md-icon-button buttonAbsolut" aria-label="Filtrar opções" ng-click="toggleRight()">
          <md-icon aria-hidden="true">filter_list</md-icon>
        </md-button>
      </form>
    </div>
  </md-toolbar>
  <md-nav-bar
      class="navItemBusca"
      md-selected-nav-item="currentNavItem"
      aria-label="Navegação de abas da busca">
    <md-nav-item md-nav-sref="farmacias"
                 name="farmacias"
                 aria-label="Farmácias">
      Farmácias
    </md-nav-item>
    <md-nav-item md-nav-sref="produtos"
                 name="produtos"
                 aria-label="Produtos">
      Produtos
    </md-nav-item>
    <md-nav-item md-nav-sref="beneficios"
                 name="beneficios"
                 aria-label="Benefícios">
      Benefícios
    </md-nav-item>
  </md-nav-bar>

  <md-toolbar class="changeAddress md-whiteframe-4dp" layout-align="start center" layout="row">
    <span md-truncate style="max-width: calc(100vw - 150px)" class="address" flex ng-bind="endereco.formated"></span>
    <md-icon ng-if="gps">gps_fixed</md-icon>
    <md-button aria-label="Trocar endereço" ui-sref="endereco">
      TROCAR
    </md-button>
  </md-toolbar>
</div>